@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+TC&family=Raleway:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans&family=Raleway:wght@500&display=swap");
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  background-color: #252525;
}

.default_Btn {
  cursor: pointer;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  letter-spacing: 0.43px;
  font-size: 1.125rem;
}

.btn_XS_NoBorder {
  width: 110px;
  height: 30px;
  border: 0px;
  background-color: #74EBD5;
  color: #252525;
  transition: 1s;
  font-size: 1rem;
  padding: 10px;
}
.btn_XS_NoBorder:hover {
  background-color: #1cc3a4;
  transition: 0.3s;
}

.btn_XS_Border {
  width: 110px;
  height: 30px;
  border: 2px solid #74EBD5;
  transition: 1s;
  color: #74EBD5;
  font-size: 1rem;
  padding: 10px;
}
.btn_XS_Border:hover {
  border: 2px solid #74EBD5;
  background-color: #74EBD5;
  color: #252525;
  transition: 0.5s;
}

.btn_S_NoBorder {
  width: 100px;
  height: 50px;
  border: 0px;
  background-color: #74EBD5;
  color: #252525;
  transition: 1s;
  padding: 6px;
}
.btn_S_NoBorder:hover {
  background-color: #1cc3a4;
  transition: 0.3s;
}

.btn_S_Border {
  width: 100px;
  height: 50px;
  border: 2px solid #74EBD5;
  transition: 1s;
  color: #74EBD5;
  padding: 6px;
}
.btn_S_Border:hover {
  border: 2px solid #74EBD5;
  background-color: #74EBD5;
  color: #252525;
  transition: 0.5s;
}

.btn_M_NoBorder {
  width: 180px;
  height: 50px;
  padding: 6px;
  border: 0px;
  background-color: #74EBD5;
  color: #252525;
  transition: 1s;
}
.btn_M_NoBorder:hover {
  background-color: #1cc3a4;
  transition: 0.3s;
}

.btn_M_Border {
  width: 180px;
  height: 50px;
  padding: 6px;
  border: 2px solid #74EBD5;
  transition: 1s;
  color: #74EBD5;
}
.btn_M_Border:hover {
  border: 2px solid #74EBD5;
  background-color: #74EBD5;
  color: #252525;
  transition: 0.5s;
}

.btn_L_NoBorder {
  width: 200px;
  height: 50px;
  border: 0px;
  background-color: #74EBD5;
  color: #252525;
  transition: 1s;
  padding: 6px;
}
.btn_L_NoBorder:hover {
  background-color: #1cc3a4;
  transition: 0.3s;
}

.btn_L_Border {
  width: 200px;
  height: 50px;
  border: 2px solid #74EBD5;
  transition: 1s;
  color: #74EBD5;
  padding: 6px;
}
.btn_L_Border:hover {
  border: 2px solid #74EBD5;
  background-color: #74EBD5;
  color: #252525;
  transition: 0.5s;
}

.obj_Radius {
  border-radius: 6px;
}

.obj_Rounded {
  border-radius: 30px;
}

.btn_Shop_Border {
  width: 130px;
  height: 36px;
  border: 0px;
  background-color: #74EBD5;
  color: #252525;
  transition: 1s;
  font-size: 1rem;
  padding: 10px;
  line-height: 0.5rem;
}
.btn_Shop_Border:hover {
  background-color: #1cc3a4;
  transition: 0.3s;
}

.pageTop_robot {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
}
.pageTop_robot img {
  width: 40%;
  margin: 10px 0px;
  cursor: pointer;
}

header {
  z-index: 100;
  background-color: #252525;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  box-shadow: 0px 1px 3px #aaa;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .header_nav_left {
  display: inline-flex;
  align-items: center;
}
header .header_nav_left a {
  color: #fff;
  padding: 10px;
  letter-spacing: 1px;
}
header .header_nav_left a.router-link-exact-active {
  color: #74EBD5;
}
header .header_nav_left .logo_header {
  width: 50px;
  padding: 5px;
  background-color: #252525;
}
header .header_nav_right {
  display: inline-flex;
  align-items: center;
}
header .header_nav_right img {
  width: 35px;
  padding: 0px 5px;
  margin: 0px 5px;
  cursor: pointer;
}
header .header_nav_right .dropdown {
  position: absolute;
  right: 50px;
  margin-top: 10px;
  width: 200px;
  height: 300px;
  border-radius: 10px;
  background-color: #000000;
  box-shadow: 1px 1px 5px #fff;
}
header .header_nav_right .dropdown p {
  color: #fff;
  border-radius: 10px;
  background-color: #000000;
  margin: 5px;
}

footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
footer .logo_footer {
  padding-top: 20px;
}
footer .footer_nav {
  color: #fff;
  margin: 30px 0px;
}
footer .footer_nav a {
  color: #fff;
  padding: 10px;
}
footer p {
  color: #fff;
  line-height: 25px;
  padding-bottom: 30px;
}/*# sourceMappingURL=style.css.map */