main{
    position: relative;
    .muse_event_box{
        display: flex;
        flex-flow: column wrap;
        @include layout(80%);
        position: absolute;
        top: 20%;
        left: 18%;
        display: flex;
        justify-content: center;
        h1{
            font-size: $big;
            text-align: left;
            padding-bottom: 3%;
        }
    }
}

.cellHeight{
    line-height: $fh;
}
