main {
    position: relative;

    .prodmgmt_box {
        display: flex;
        flex-flow: column wrap;
        @include layout(80%);
        position: absolute;
        top: 23%;
        left: 18%;
        display: flex;
        justify-content: center;

        h1 {
            font-size: $big;
            text-align: left;
            padding-bottom: 3%;
        }

        .topbtn {
            display: flex;
            align-items: center;
            margin-left: 50%;
            padding-bottom: 15px;
        }
    }

    // 輪播編輯彈窗

    .editprod,
    .addprod {
        @include rect(800px, auto);
        padding: 1%;
        background-color: #333;
        color: $white;
        border: $green 3px solid;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: 100;
        display: flex;
        flex-flow: row;
        justify-content: space-evenly;

        .fir {
            display: flex;
            flex-direction: column;
            align-content: flex-start;
        }

        p,
        label {
            margin: 10px 0;
        }

        .state {
            display: flex;
        }

        input,
        select,
        textarea {
            padding: 2%;
            overflow-y: auto;
            white-space: pre-wrap;
        }

        input[readonly] {
            background-color: #ccc;
        }

        .btngroup {
            display: flex;
            justify-content: space-evenly;
            margin: 10px 0 0 0;

            .saveBtn {
                @include rect(100px, auto);
                @include btnColor($green, false);
                margin: auto;
                font-size: 14px;
                line-height: 1.5;
            }

            .closeBtn {
                @include rect(100px, auto);
                margin: auto;
                font-size: 14px;
                line-height: 1.5;
                border: 0px;
                @include btnColor($white, false);
            }


        }

        .uploadblock {
            border: 1px solid #009ca8;
            width: 300px;
            height: 150px;
            text-align: center;
            border-radius: 10px;
            line-height: 2;

            input {
                border: none;
            }

            img {
                width: 90%;
                height: 50%;
                object-fit: contain;
            }
        }
    }
}

.cellHeight {
    line-height: $fh;
}