main{
    position: relative;
    .songtype_table_box{
        display: flex;
        flex-flow: column wrap;
        @include layout(80%);
        position: absolute;
        top: 23%;
        left: 18%;
        display: flex;
        justify-content: center;
        h1{
            max-width: 800px;
            font-size: $big;
            text-align: left;
            padding-bottom: 2%;
        }
    }
    .singlesongtype_table_box{
        display: flex;
        flex-flow: column wrap;
        @include layout(80%);
        position: absolute;
        top: 80%;
        left: 18%;
        display: flex;
        justify-content: center;
    }
}

.cellHeight{
    line-height: $fh;
}