nav{
    @include rect(200px, 100vh);
    background-color: $dark;
    // padding: 8% 0;
    ul{
        @include rect(100%, 100%);
        // padding: 10% 0;
        background-color: $dark;
        li{
            @include rect(100%, fit);
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            background-color: $dark;
            color: $white;            
            line-height: 3;
            padding: 10% 8%;
            text-align: left;
            cursor: pointer;
        }
        .sidebar_item{
            padding:14px 40px;
            margin-bottom: -10px ;
            transition: all .2s ease-in-out;
            &:hover{
                color: #2d8cf0;
                transition: all .2s ease-in-out;
            }
        }
        
    }
}