nav{
    @include rect(200px, 100vh);
    background-color: $dark;
    // padding: 8% 0;
    ul{
        @include rect(100%);
        // padding: 10% 0;
        background-color: $dark;
        #menubar{
            height: 120vh;
        }
        li{
            @include rect(100%, fit);
            display: flex;
            flex-flow: column wrap;
            justify-content: space-evenly;
            background-color: $dark;
            color: $white;            
            line-height: 3;
            padding: 10% 0%;
            text-align: left;
            cursor: pointer;
        }
        .sidebar_item{
            color: $white;
            padding:20px 23px;
            transition: all .2s ease-in-out;
            text-align: left;

            &:hover{
                color: #2d8cf0;
                transition: all .2s ease-in-out;
            }
        }
        
    }
}