.backend_header{
    position: relative;
    box-shadow: none;
    @include rect(100%, 15%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 3px solid $green;
    .logo_backend{
        z-index: 3;
        display: inline-block;
        margin: 0% 40%;
        @include rect(80px, fit);
        background-color: $dark;
        padding: 8% 3%;
        vertical-align: middle;
    }
    .logout{
        padding: 1% 3%;
        color: $white;
        background-color: $dark;
        border: 0;
    }
}