

.login{
    height: 800px;
    margin-top: 80px;
    background: url(/public/image/Login/background_light.png) no-repeat center 95% / 100% ;
}
.login_logo{
    padding-top: 100px;
}

.login-container {
    @include layout(300px);
    padding: 20px;
    margin: 0 auto;
    height: 50px;
    transform: scale(1.5);
}

.form-group {
    margin: 10px 0;
}

label {
    display: block;
}

.logininput {
    border: $green 3px solid;
    width: 100%;
    height: 40px;
    background-color: $white;
    padding: 5px;
    font-size: 10px;
}


button {
    background-color: $green;
    color: $dark;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    width: 100%;
    border-radius: 5px;
    font-size: 15px;
}

.links {
    text-align: right;
    margin: 10px;

}

.links a {
    margin-right: 10px;
    text-decoration: none;
    color: $white;
    font-size: 10px;
}