.about{

    // banner圖
    .banner{
        position: relative;
        .bannerpic{
            width: 100%;
            margin-top: 85px;
            @include s {
                transform: scale(1.5) translate(-60px, 0px);
            }
            img{
                width: 100%;
                vertical-align: bottom;
            }
            
        }
        // banner圖文字
        .bannertext{
            font-size: $superBig;
            font-weight: bold;
            letter-spacing: 4.8px;
            text-align: left;
            text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
            background: linear-gradient(180deg, #5D5DDB 50.54%, rgba(116, 235, 213, 0.00) 100%);
            background-clip: text;
            -webkit-background-clip: text;
            -webkit-text-fill-color: $tp;
            position: absolute;
            top: 30%;
            left: 5%;
            @include s {
                top: 155%;
            }
        }
        .en{
            font-size: 60px;
            @include s {
                font-size: 45px;
                margin-left: 5px;
            }
        }
        .ch{
            top: 50%;
            margin-left: 40px;
            @include s {
                top: 202%;
                font-size: 23px;
                margin-left: 22px;
            }
        }
    }

    // 區段標題
    h2{
        font-size: $big;
        font-weight: bold;
        color: $white;
        letter-spacing: 3.2px;
        margin: 150px auto 80px;
        @include s {
            margin: 70px auto 60px;
        }
    }    

    // 關於我們描述
    .wrapper{
        background: $white;
        .wrap{
            background: linear-gradient(180deg, #252525 39.12%, rgba(37, 37, 37, 0.00) 100%);
            
            .summary{
                font-size: $default;
                font-weight: bold;
                color: $white;
                text-shadow: 0px 4px 4px rgba(255, 255, 255, 0.215);
                letter-spacing: 1.8px;
                line-height: 3.5;
                display: block;
                padding: 80px 0;
                width: 88%;
                margin: auto;
                @include s {
                    letter-spacing: .8px;
                    line-height: 2;
                    padding: 250px 0 50px;
                }
            }

            //謬思創作者
            .partnerwrap{
            padding: 50px 0 200px;
            overflow: hidden;
            @include s {
                padding: 20px 0 90px;
            }
                .partnerwall {
                display: flex;
                    .partnerwrapper {
                    display: flex;
                    animation: scroll 60s linear infinite;
                    animation-play-state: paused;
                
                        &:nth-child(2){
                            animation: scroll2 60s linear infinite;
                            animation-delay: -30s;
                            animation-play-state: paused;
                        }
                        &.active{
                            animation-play-state: running;
                        }
                        .partnerpic{
                            width: 150px;
                            height: 149px;
                            margin: 0 30px;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            background: linear-gradient(to bottom right, #666, #fff);
                            vertical-align: bottom;
                            @include s {
                                width: 100px;
                                height: 100px;
                                margin: 0 20px;
                            }
                            >a{
                                display: inline-block;
                                width: 100%;
                                transition: all .2s;
                                img{
                                    width: 100%;
                                }
                            }
                        }
                        .partnerpic:hover{
                            box-shadow: 0px 0px 15px 5px #a9a9d0;
                        }
                    }
                }
            }
        }

        // 謬思創作者-animation
        @keyframes scroll{
            from{
            transform: translateX(100%);
            }
            to{
            transform: translateX(-100%);
            }
        }
        
        @keyframes scroll2{
            from{
            transform: translateX(0%);
            }
            to{
            transform: translateX(-200%);
            }
        }
    }

    // 常見問題
    #faqlist{
        @include s {
            padding-bottom: 15px;
        }
        .faq{
            width: 80%;
            margin: 30px auto;
            @include s {
                width: 85%;
                margin: 25px auto;
            }

            .question{
                width: 100%;
                font-size: $small;
                color: $dark;
                letter-spacing: .5px;
                background: linear-gradient(to right, $green, $green, #d3d3fd);
                background-size: 200%;
                transition: background-position .5s,right 0.3s; 
                display: flex;
                cursor: pointer;
                @include s {
                    font-size: $pS;
                }
            &.open{
            right: 0px;
            }
                .arrow{
                    @include btnBgNone;
                    color: $dark;
                    margin: auto;
                    @include s {
                        margin: auto 2%;
                    }
                }
            }
            .question:hover{
                background-position: 100% 0;
            }
            .answer {
                width: 100%;
                font-size: $default;
                color: $white;
                letter-spacing: 1.8px;
                white-space: pre-line;
                display: flex;
                margin-top: 10px;
                @include s {
                    letter-spacing: .8px;
                    font-size: $pS;
                }
            }
        }
    }
    .faqtitle{
        margin: auto 5%; 
        @include s {
            margin: auto 3%;
        }
    }
    .faqcontent{
        width: 80%;
        justify-content: flex-start;
        text-align: left;
        padding: 15px 0;
        line-height: 1.5;
        @include s {
            width: 86%;
            padding: 13px 0;
            line-height: 1.4;
        }
    }

    // 聯絡謬思
    .contact{
        display: inline-block;
        margin: auto 0;
        width: 70%;
        padding-top: 50px;
        margin-bottom: 100px;
        background-color: #000;
        @include s {
            width: 90%;
            padding-top: 10px;
            margin-bottom: 120px;
        }
        span{
            font-size: $default;
            color: $white;
            width: 15%;
            display: inline-block;
        }
        .describe{
            display: flex;
            align-items: center;
            justify-content: center;
        }
        input,select,textarea{
            width: 70%;
            font-size: $default;
            padding: 5px 10px;
            border: 5px solid $green;
            @include s {
                padding: 3px 8px;
                font-size: $pXS;
                width: 77%;
                margin: 0 5px;
            }
        }
        textarea {
            height: 230px;
            resize: none;
        }
        div{
            margin: 35px 0;
            @include s {
                margin: 25px 0;
            }
        }
        div:nth-last-child(1){
            padding-bottom: 30px;
            margin-top: 50px;
            @include s {
                margin: 35px 0 5px;
            }
        }
    }

    .contactbtn{
        @include rect(160px !important, 50px !important);
        @include btnColor($green, $border: true, $hover: true);
        cursor: pointer;
        @include s {
            @include rect(130px !important, 45px !important);
        }
    }
}
