
  .swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #fff;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .swiper-slide {
    width: 80%;
    height: 500px;
  }
  
  .swiper-slide:nth-child(even) {
    width: 60%;
    height: 100%;
  }
  
  .swiper-slide:nth-child(2n) {
    width: 60%;
    height: 100%;
  }

  .activityTitle{
    display: flex;
    justify-content: center;
    align-items: center;
    .whatson{
        display: flex;
        align-items: center;
        margin: 50px 0px;
        h1{
            color: #000;
            background-color: $green;
            font-size: 36px;
            font-weight: bold;
            text-align: center;
            width: 170px;
            height: 60px;
            line-height: 60px;
            letter-spacing: 2px;
        }
        p{
            color: $green;
            font-size: 36px;
            font-weight: bold;
            letter-spacing: 4px;
            margin: 10px;
        }
    }
  }
  .wave{
    transform: rotate(-25deg);
    position: absolute;
    float: left;
  }