.main-wrapper {
  @include layout(1200px);
  padding: 130px 0;
}
.songpic {
  border-radius: 50%;
  margin: 20px;
}

.songpicupload {
  border-radius: 50%;
  margin: 20px;
  width: 60px;
  height: 60px;
  display: inline-block;
  align-items: left;
  justify-content: left;
}

.page-options {
  display: flex;
  justify-content: space-evenly;
}

.page-options :hover {
  color: $purple;
}

.form1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  //   margin: 130px;
}

.form-group {
  padding: 10px;
  text-align: left;
}

.form-group > input,
.form-group > select,
.form-group > textarea {
  border: 0;
  border-radius: 10px;
  width: 100%;
  background-color: black;
  color: $white;
  padding: 15px 20px;
  text-align: left;
  margin: 10px;
}

select::-webkit-scrollbar {
  margin: 5px;
  width: 5px;
  background-color: #252525;
  border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff20;
}

button.active {
  color: $purple;
}

.button {
  color: $green;
  background-color: transparent;
  border: $green 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 50px 50px;
}

.label {
  color: $white;
  font-size: $small;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 10px;
}

.checkbox {
  margin: 10px;

  .songclass {
    width: 100%;
    text-align: left;
    background-color: black;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
    margin: 20px 10px;

    .label {
      font-size: $default;
      margin: 20px 10px;
    }

    .opt {
      display: inline-block;
      margin: 5px 10px;
      min-width: 125px;
      color: $white;

      .checkboxLabel {
        position: relative;
        margin-right: 10px;
        padding-top: 2px;

        input[type="checkbox"] {
          cursor: pointer;
          vertical-align: sub;
          color: $white;
          width: 23px;
          height: 23px;
          border-radius: 50%;
          /*清除預設樣式*/
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          border: 2px solid #ffffff80;
        }

        .i {
          position: absolute;
          z-index: 10;
          top: 40%;
          left: 50%;
          transform: translate(-50%, -40%);
          font-size: 12px;
          color: $green;
          margin: 0;
          opacity: 0;
          pointer-events: none;
        }

        input[type="checkbox"]:hover,
        input[type="checkbox"]:checked {
          border: 2px solid $green;
        }

        input[type="checkbox"]:hover ~ .i,
        input[type="checkbox"]:checked ~ .i {
          opacity: 1;
        }
      }
    }
  }
}

.checkboxLabel {
  position: relative;
  margin-right: 10px;
  padding-top: 2px;

  input[type="checkbox"] {
    cursor: pointer;
    vertical-align: sub;
    color: $white;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    /*清除預設樣式*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #ffffff80;
  }

  .i {
    position: absolute;
    z-index: 10;
    top: 40%;
    left: 50%;
    transform: translate(40%, -90%);
    font-size: 20px;
    color: $green;
    margin: 0;
    opacity: 0;
    pointer-events: none;
  }

  input[type="checkbox"]:hover,
  input[type="checkbox"]:checked {
    border: 2px solid $green;
  }

  input[type="checkbox"]:checked ~ .i {
    opacity: 1;
  }
}

.selcetcheck {
  color: $pink;
  text-align: right;
  padding: 0 200px;
}

#privacy {
  color: $green;
  background-color: black;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 10px 0px;
}

label {
  color: $white;
  padding: 8px;
}

.plus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.plus {
  border-radius: 20%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  margin-bottom: 30px;
}

p.plus {
  font-size: 25px;
  color: $white;
  padding: 20px;
  margin-bottom: 50px;
  display: inline;
  width: 250px;
  text-align: center;
}

.song-table {
  // width: 80%;
  // margin: 100px;
  border-collapse: collapse;
  margin-top: 20px;
}

.song-table th,
.song-table td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: left;
  margin-bottom: 20px;
  border-left: none;
  border-right: none;
  border-top: none;
  vertical-align: top;
  justify-content: space-evenly;
}

.song-table th {
  background-color: black;
  color: $white;
  text-align: left;
  height: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.albumn {
  width: 200px;
  height: 200px;
}

.song-table td {
  color: $white;
  background-color: transparent;
  font-size: 14px;
  text-align: left;
  align-items: center;
  background-color: black;
}
