.main-wrapper {
  @include layout(1200px);
  padding: 130px 0;
}

.page-options {
  display: flex;
  justify-content: space-evenly;
}

.page-options :hover {
  color: $purple;
}

.form1 {
  text-align: center;
  align-items: center;
  justify-content: center;
  //   margin: 130px;
}

.form-group {
  padding: 10px;
  text-align: left;
}

.form-group > input,
.form-group > select,
.form-group > textarea {
  border: 0;
  border-radius: 10px;
  width: 100%;
  background-color: black;
  color: $white;
  padding: 15px 20px;
  text-align: left;
  margin: 10px;
}

select::-webkit-scrollbar {
  margin: 5px;
  width: 5px;
  background-color: #252525;
  border-radius: 10px;
}

select::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff20;
}

button.active {
  color: $purple;
}

.button {
  color: $green;
  background-color: transparent;
  border: $green 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 50px 50px;
}

.label {
  color: $white;
  font-size: $small;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 10px;
}
.uploadImgWrap {
  margin: 0 10px;
  width: 100%;
  height: 400px;
  background-color: black;
  border: 3px dashed #d9d9d950;
  border-radius: 10px;
  &:hover {
    //border: 3px dashed #74ebd560;
    border: 3px dashed #ffffff;
  }
  .uploadImg {
    width: 80%;
    height: 100%;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    #inputimg {
      display: none;
    }
    .inputimg {
      display: inline-block;
      // width: 100%;
      // height: 75%;
      .pic {
        @include rect(230px);
        margin-bottom: 30px;
        .uploadpic {
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
      .pre {
        margin: 50px;
        border-radius: 50%;
        overflow: hidden;
        position: relative;
        @include rect(60px);
      }
    }
    p {
      text-align: center;
    }
  }
}

.checkboxLabel {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 23px;
  // margin-right: 10px;
  padding: 0px;
  input[type="checkbox"] {
    cursor: pointer;
    vertical-align: sub;
    color: $white;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    /*清除預設樣式*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #ffffff80;
  }

  .i {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: $green;
    margin: 0;
    opacity: 0;
    pointer-events: none;
  }
  input[type="checkbox"]:hover,
  input[type="checkbox"]:checked {
    border: 2px solid $green;
  }

  input[type="checkbox"]:checked ~ .i {
    opacity: 1;
  }
}

.selcetcheck {
  color: $pink;
  text-align: right;
  padding: 0 200px;
}

#privacy {
  color: $green;
  background-color: black;
  width: 200px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  padding: 10px;
}

label {
  color: $white;
  padding: 8px;
}

.plus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 0;
}

.plus {
  border-radius: 20%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
}

p.plus {
  font-size: 25px;
  color: $white;
  padding: 20px;
  margin-bottom: 50px;
  display: inline;
  width: 250px;
  text-align: center;
}

.song-table {
  // width: 80%;
  // margin: 100px;
  border-collapse: collapse;
  margin-top: 20px;

  th,
  td {
    color: $white;
    border: 1px solid #ccc;
    padding: 15px;
    margin-bottom: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    text-align: center;
    vertical-align: top;
    justify-content: space-evenly;
  }
  th {
    height: 50%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  td {
    background-color: transparent;
    font-size: 14px;
    align-items: center;
  }

  .tno,
  .ttime,
  .check {
    width: 5%;
    min-width: 20px;
    text-align: center;
  }
  .timg {
    width: 110px;
    .pic {
      width: 100px;
      height: 100px;
      img {
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
  .tname {
    width: 15%;
  }
  .tintro {
    flex-grow: 1;
    width: 40%;
    text-align: left;
  }
  .tdate {
    width: 15%;
  }
}
