*{
  color: $white;
}
h1{
  font-size: $big;
  padding: 5% 0;
  text-align: left ;
  margin:3% 0 3% 7%;
}
h2{
  font-size: $big;
  padding: 5% 0;
  text-align: left ;
  margin:0 0 0 7%;
}
a:hover{
  color: $green;
}
.language,
.style,
.emotion{
  @include layout(100%);
  margin: 3% 0;
  border-top:1px solid ;
  border-bottom:1px solid ;
}
.language{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  .space{
    transform: skewX(45deg);
    width: 20%;
    border-left: 2px solid;
    border-right: 2px solid;
    position: relative;
    img{
      position: absolute;
      display: none;
      width: 100%;
    }
    .txt{
      transform: skewX(-45deg);
      padding: 5% 0;
      a{
        padding: 5% 25%;
        font-size: $medium;
      }
    }
  }
  :hover img{
    display: block;
  }
  :first-child{
    border-left:0 ;
  }
  :last-child{
    border-right:0 ;
  }
}
.style,
.emotion{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  overflow: hidden;
  .space{
    transform: skewX(45deg);
    width: 20%;
    border-left:2px solid ;
    position: relative;
    img{
      position: absolute;
      display: none;
      width: 100%;
    }
    .txt{
      transform: skewX(-45deg);
      padding: 5% 0;
      a{
        padding: 5% 25%;
        font-size: $small;
      }
    }
  }
  :hover img{
    display: block;
  }
  :first-child{
    border-left:0 ;
  }
}

.index_newMusic .swiper .swiper-wrapper .swiper-slide, .index_WeekTopusic .swiper .swiper-wrapper .swiper-slide {
  // background-color: red;
  margin: auto;
}

.hot_singer{
  .swiper {
    width: 100%;
    .swiper-wrapper {
      .swiper-slide {
        .card {
          width: 80%;
          margin: auto;
          background-color: $tp;
          cursor: pointer;
          img {
            width: 100%;
            border-radius: 100%;
          }
          .text{
            margin: 5% 0;
            h3 {
              text-align: center;
              font-size: $small;
            }
          }
        }
      }
    }
    .swiper-pagination-bullet {
      width: 30px;
      border-radius: 2px;
      height: 3px;
    }
    .swiper-pagination-bullet-active {
      width: 60px;
      height: 5px;
      background-color: $green;
    }
  }
}
.new_release{
  .swiper {
    width: 100%;
    .swiper-wrapper {
      background-color: transparent;
      .swiper-slide {
        .card {
          width: 80%;
          margin: auto;
          background-color: $tp;
          cursor: pointer;
          .image{
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            #PlayBtnBig {
              position: absolute;
            }
            img {
              width: 100%;
            }
          }
          .text{
            margin: 3% 0;
            h3 {
              font-size: $small;
              margin: 2% 0;
            }
          }
          p {
            @include mini_Tag($tag);
            display: flex;
            justify-content: space-between;
          }
        }
      }
    }
    .swiper-pagination-bullet {
      width: 30px;
      border-radius: 2px;
      height: 3px;
    }
    .swiper-pagination-bullet-active {
      width: 60px;
      height: 5px;
      background-color: $green;
    }
  }
}