#app {
  //網站字體
  font-family: "Noto Sans TC", "Noto Sans", "Tahoma";
  //網站主要漸層背景色
  background-image: linear-gradient(#000, $dark 70%);
  text-align: center;
  position: relative;
  //這裡是系統內建的
  //RWD 手機文字尺寸
  @include s {
    h1 {
      font-size: $pL;
    }
    h2 {
      font-size: $pM;
    }
    h3 {
      font-size: $pM;
    }
    h4,
    h5,
    p {
      font-size: $pS;
    }
    span {
      font-size: $pXS;
    }
  }
}
// main{
//   // overflow-x: hidden; //水平跑版--隱藏
// }

// 頂部輪播區 -廖妍榛
.index_topCarousel {
  @include layout(100%);
  overflow: hidden;
  .topSwiper {
    width: 100%;
    height: 100vh;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: 50%; //待調整
    }
  }

  .swiper-pagination-bullet {
    width: 30px;
    border-radius: 2px;
    height: 3px;
  }

  .swiper-pagination-bullet-active {
    width: 60px;
    height: 5px;
    background-color: $green;
  }
}

// 音樂謬思就是音樂的發生地 -廖妍榛
.index_centerSlogn {
  @include layout(100%);
  height: 200px;
  background-image: url("/public/image/index/index_makingWave.png");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  align-items: center;
  // RWD
  @include s {
    height: 100%;
    background-size: cover;
  }
  .index_centerH1,
  .index_centerP {
    width: 800px;
    // RWD
    @include s {
      width: 100%;
    }
  }
  h1,
  p {
    color: transparent;
    letter-spacing: 1px;
    background-image: linear-gradient(to bottom, $blue, $green 100%);
    -webkit-background-clip: text;
    background-clip: text;
    padding: 1.5%;
  }

  h1 {
    font-size: $superBig;
    -webkit-text-stroke: 2px $tp;
    text-align: left;
    animation: bling 1.5s ease-in-out infinite alternate;
    span {
      text-align: right;
    }
  }
  p {
    font-size: $big;
    -webkit-text-stroke: 1px $tp;
    text-align: right;
    animation: bling 1.5s 1.5s infinite alternate;
  }
  .index_joinUs {
    width: 90%;
    text-align: right;
    color: $white;
    // RWD
    @include s {
      display: none;
    }
    span {
      width: 130px;
      height: 130px;
      position: relative;
      right: 6%;
    }
  }
  & span::after {
    content: "";
    background-image: url("/public/image/index/index_joinus.png");
    position: absolute;
    top: 50%;
    right: 50%;
    width: 130px;
    height: 130px;
    transform-origin: center;
    animation: rotate360 7s 0s linear infinite;
    z-index: 2;
    box-sizing: border-box;
  }
}

@keyframes bling {
  0% {
    text-shadow: 0px 20px 50px $white;
  }
  100% {
    text-shadow: -10px -20px 100px $white;
  }
  50% {
    text-shadow: 0px 20px 50px $white;
  }
}

// 音樂謬思 && dj轉盤用的動畫 && 熱門輪播 - 廖妍榛
@keyframes rotate360 {
  0% {
    transform: translate(50%, -50%) rotate(0deg);
  }
  100% {
    transform: translate(50%, -50%) rotate(360deg);
  }
}

// 本週熱門歌曲輪播 - 黃珮菁
.index_WeekTopmusic {
  position: relative;
  overflow: hidden;
  padding-top: 100px;
  h2 {
    color: $white;
    font-size: $big;
    text-align: start;
    margin: 40px;
  }
  :deep(.swiper) {
    width: 100vw;
  }
  .swiper {
    position: relative;
    margin-top: 150px;
    width: 100vw;
    height: fit-content;
    // padding-bottom: 50px;
    overflow-y: visible;
    .swiper-wrapper {
      position: relative;
      background-color: transparent;
      margin-bottom: 30px;
      position: relative;
      height: fit-content;
      margin: 250px 0 150px 0;
      .swiper-slide {
        background-color: transparent;
        opacity: 0.7;
        display: flex;
        align-content: center;
        .card {
          transition: 0.5s;
          width: 190px;
          margin: auto;
          .pic {
            @media screen and (max-width: 800px) {
              @include rect(150px);
            }
            @include rect(190px);
            position: relative;
            margin: auto;

            cursor: pointer;
            img {
              width: 100%;
              height: 100%;
              object-fit: cover;
              object-position: top center;
            }
            .play {
              opacity: 0;
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: #00000030;
              cursor: pointer;
              .i {
                color: $white;
                font-size: 35px;
                position: relative;
                top: 40%;
                left: 2%;
              }
            }
            &:hover,
            &:focus {
              .play {
                opacity: 1;
              }
            }
          }
          .text {
            cursor: pointer;
            margin-top: 10px;
            color: $white;
            h3 {
              text-align: start;
              font-size: $small;
              line-height: 1.8;
              font-weight: 600;
            }
            p {
              font-size: $tag;
              display: flex;
              justify-content: space-between;
            }
          }
        }
      }
      .swiper-slide-active {
        z-index: 20;
        opacity: 1;
        .card {
          transform: scale(1.5);
          .text {
            h3,
            p {
              color: $tp;
            }
          }
        }
      }
    }
  }
  //旋轉黑膠
  .swiper::after {
    content: "";
    width: 230px;
    height: 230px;
    background-image: url("/public/image/index/vinyl.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    left: calc(50% - 115px);
    top: -200px;
    z-index: -10;
    animation: rotate 10s linear infinite forwards;
    @media screen and (max-width: 800px) {
      width: 200px;
      height: 200px;
      left: calc(50% - 100px);
      top: -170px;
    }
  }
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  //MP3
  .swiper::before {
    content: "";
    width: 345px;
    height: 600px;
    background-image: url("/public/image/index/index_mplayer.png");
    background-size: contain;
    background-repeat: no-repeat;
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 10;
    transform: translate(-50%, -35%);
    pointer-events: none;
    @media screen and (max-width: 800px) {
      width: 276px;
      height: 480px;
    }
  }
}
.index_WeekTopmusic::after {
  //背景打燈裝飾
  content: "";
  width: 80%;
  height: 100%;
  background-image: url("/public/image/index/index_light.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: top right;
  position: absolute;
  right: 0px;
  top: -10px;
  z-index: 0;
}
.index_wave {
  width: 100%;
  height: 100px;
  @media screen and (max-width: 650px) {
    display: none;
  }
  .wave {
    margin: auto;
    position: relative;
    opacity: 0;
    top: 0;
    width: 2px;
    height: 0.5px;
    border: #fff 5px solid;
    border-radius: 300px / 75px;
    -webkit-animation: ripple 4s infinite;
    -moz-animation: ripple 4s infinite;
    animation: ripple 4s infinite;
  }

  .wave:after {
    content: "";
    position: absolute;
    opacity: 0;
    top: -5px;
    left: -5px;
    width: 2px;
    height: 0.5px;
    border: #fff 3px solid;
    border-radius: 300px / 75px;
    -webkit-animation: ripple-2 4s infinite;
    -moz-animation: ripple-2 4s infinite;
    animation: ripple-2 4s infinite;
  }

  @keyframes ripple {
    0% {
      opacity: 1;
    }
    50% {
      width: 600px;
      height: 150px;
      border-width: 1px;
      top: -50px;
      opacity: 0;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes ripple-2 {
    0% {
      opacity: 1;
    }
    25% {
      opacity: 0;
    }
    50% {
      width: 200px;
      height: 50px;
      border-width: 1px;
      top: 50px;
      left: 200px;
    }
    100% {
      opacity: 0;
    }
  }
}

// // 本週熱門專輯 - 廖妍榛
.index_WeekTopAlbum {
  @include layout(100%);
  margin: 5% 0;
  // RWD
  @include s {
    @include layout(80%);
  }
  h2 {
    font-size: $big;
    color: $white;
    text-align: start;
    margin: 40px;
    // RWD
    @include s {
      @include layout(80%);
      text-align: left;
      margin: 0px;
    }
  }

  .index_albumBox {
    @include rect(40%);
    margin: auto;
    position: relative;
    // RWD
    @include s {
      @include rect(110%);
      margin-left: -5%;
    }
    .imgbox {
      position: relative;
      color: $pink;
      line-height: $fh;
      // -webkit-filter: grayscale(100%);
      // filter: brightness(0.7);
      // filter: blur(1px);
      // -webkit-transition: .3s ease-in-out;
      // transition: .3s ease-in-out;
      img {
        @include rect(100%);
        filter: blur(1.5px);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
      .ranking {
        @include l {
          @include layout(100%);
          text-shadow: 3px 3px 3px $dark;
          font-weight: bolder;
          font-size: $big;
          position: absolute;
          top: 15%;
          left: 0%;
          margin: auto;
          // RWD
          @include s {
            top: -30%;
          }
        }
      }
      .name {
        @include layout(100%);
        font-weight: 600;
        font-size: $small;
        position: absolute;
        top: 100%;
        left: 0%;
        margin: auto;
      }
      .alb {
        @include layout(100%);
        font-weight: normal;
        font-size: $tag;
        position: absolute;
        top: 100%;
        left: 0%;
        margin: auto;
      }
      img {
        width: 120%;
        margin: -24px;
      }
    }
    .imgbox:hover {
      filter: drop-shadow(0px 0px 10px $green);
      -webkit-filter: drop-shadow(0px 0px 10px $green);
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      img {
        filter: blur(0px);
        -webkit-transition: 0.3s ease-in-out;
        transition: 0.3s ease-in-out;
      }
    }
  }
}

.index_albumBox::before {
  content: "";
  background-image: url("/public/image/index/index_ablumPot.svg");
  background-size: contain;
  @include rect(120px);
  position: absolute;
  left: -130px;
  top: 30px;
  // RWD
  @include s {
    display: none;
  }
}
.index_albumBox::after {
  content: "";
  background-image: url("/public/image/index/index_ablumPot.svg");
  background-size: contain;
  @include rect(120px);
  position: absolute;
  right: -130px;
  bottom: 120px;
  // RWD
  @include s {
    display: none;
  }
}

// 混出你的音樂 - 廖妍榛
.index_revolve {
  @include layout(100%);
  padding-bottom: 5%;
  display: flex;
  justify-content: space-around;
  flex-flow: column wrap;
  // RWD
  @include s {
    display: none;
  }
  h2 {
    width: 80%;
    font-size: $big;
    color: $white;
    text-align: start;
    margin: 40px;
  }
  .step {
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    .pic {
      width: 150px;
      height: 110px;
      img {
        width: 100%;
        height: 100%;
      }
      .txt {
        p {
          padding-top: 2%;
          text-align: center;
          @include mini_Tag($tag);
        }
      }
    }
  }
}

//找到屬於你的歌 - 廖妍榛
.index_emo {
  @include layout(100%);
  padding-bottom: 5%;
  // RWD
  @include s {
    display: none;
  }
  h2 {
    width: 80%;
    font-size: $big;
    color: $white;
    text-align: start;
    margin: 35px;
  }
  .index_test_page_box {
    @include rect(682px, 455px);
    margin: auto;
    position: relative;
    .index_pic_box {
      // 第一個問題的裝飾
      .test_cloud_rtl {
        animation: cuteCloud_rtl 13s infinite ease-in-out;
      }
      .test_cloud_ltr {
        animation: cuteCloud_ltr 13s infinite ease-in-out;
      }
      .test_clock {
        @include rect(70px, fit);
        animation: clock 1s infinite ease-in-out;
      }
      // 第二個問題的裝飾
      .test_shooting_one {
        animation: shooting 10s infinite ease-in-out;
      }
      .test_shooting_two {
        animation: shooting 10s -2s infinite ease-in-out;
      }
      .test_shooting_three {
        animation: shooting 8s infinite ease-in-out;
      }
      // 第三個問題的裝飾
      .test_sweet {
        display: inline-block;
        margin: 0px 9px;
        animation: sweet 1s infinite ease-in-out;
      }
      .test_drop_banana {
        animation: banana 5s infinite ease-in-out;
      }

      // 第四個問題的裝飾
      .test_loveRed {
        animation: love_slow 4s infinite ease-in-out;
      }
      .test_loveAllB {
        animation: love_slow 2s infinite ease-in-out;
      }
      .test_loveGreen {
        animation: love_fast 3s infinite ease-in-out;
      }
      .test_redlove {
        animation: love_bling 2s infinite ease-in-out;
      }

      //第五個問題的裝飾
      .test_note {
        animation: blingStar 1.5s infinite ease-in-out;
      }
      .test_museteam {
        animation: walk 15s infinite;
      }
    }
    .index_test_box {
      overflow: hidden;
      width: 652px;
      height: 367px;
      position: absolute;
      top: 7.8%;
      left: 8.7%;
      background-image: linear-gradient(#000, #333, #555, #444, #222, #000 95%);
      background-position: 100%;
      .decoration {
        position: absolute;
        top: 0;
        left: 0;
      }
      .test_startbtn {
        position: absolute;
        top: 33%;
        left: 30%;
        animation: boom 1s infinite;
        cursor: pointer;
      }
      .ques {
        font-family: Press + Start + 2P;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
        h2 {
          width: 100%;
          font-family: "DotGothic16", "Noto Sans TC", "Noto Sans";
          font-size: $medium;
        }
        p {
          width: 100%;
          font-family: "DotGothic16", "Noto Sans TC", "Noto Sans";
          max-width: 430px;
          color: $white;
          font-size: $default;
          text-align: left;
          padding: 2.5% 7%;
          letter-spacing: 1.5px;
          cursor: pointer;
        }
        .index_findurmusic {
          font-family: "DotGothic16", "Noto Sans TC", "Noto Sans";
          max-width: 430px;
          color: $white;
          font-size: $medium;
          text-align: center;
          padding: 23% 0%;
        }
        #index_playCD {
          border: 2px solid red;
          @include rect(195px);
          margin: 12.5% 0;
          display: flex;
          justify-content: center;
          align-items: center;
          align-self: center;
          border-radius: 200px;
          background: repeating-radial-gradient(
            circle,
            #000000 0%,
            #000000 1%,
            $dark 2%
          );
          border: 2px solid $green;
          box-shadow: 1px 1px $white;
          position: relative;
          top: 40%;
          left: 35%;
          span {
            @include rect(140px);
            background-image: url("/public/image/index/vinyl.png");
            background-size: contain;
            animation: rotate 7s 0s linear infinite;
            position: absolute;
            top: 13%;
            left: 13.5%;
            pointer-events: none;
          }
          .tag_clickme {
            color: $white;
            font-size: $default;
            position: absolute;
            top: 15%;
            right: -50%;
          }
          .tag_text {
            color: $white;
            font-size: $default;
            position: absolute;
            width: 400px;
            top: 115%;
            left: -30%;
          }
          #musicOff {
            @include rect(135px);
            opacity: 0;
          }
        }
      }
    }
  }
}

//按了之後讓遊戲換下一頁
.index_nextpage {
  animation: bye 1s ease-in-out forwards;
}

@keyframes bye {
  0% {
    opacity: 0.2;
    transform: scale(1.5);
  }
  90% {
    opacity: 0.1;
    transform: rotate(360deg);
  }
  100% {
    opacity: 0;
    transform: translate-Y(-1200px);
  }
}

//問題進入畫面
.quesEnter {
  animation: enter 1.2s ease-in-out forwards;
}

@keyframes enter {
  0% {
    opacity: 0;
    transform: scale(0);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

// Start按鈕動畫
@keyframes boom {
  0% {
    transform: translateY(10px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(10px);
  }
}

// 雲朵飄飄動畫 - 左到右
@keyframes cuteCloud_ltr {
  0% {
    transform: translate(0px, -120px);
  }
  50% {
    transform: translate(300px, -120px);
  }
  100% {
    transform: translate(0px, -120px);
  }
}

// 雲朵飄飄動畫 - 右到左
@keyframes cuteCloud_rtl {
  0% {
    transform: translate(0px, -227px);
  }
  50% {
    transform: translate(-280px, -227px);
  }
  100% {
    transform: translate(0px, -227px);
  }
}

// 時鐘 - 左右晃
@keyframes clock {
  0% {
    transform: translate(150px, -10px) rotate(30deg);
  }
  100% {
    transform: translate(150px, -10px) rotate(-30deg);
  }
}

// 流星
@keyframes shooting {
  0% {
    transform: translate(300px, -360px);
  }
  100% {
    transform: translate(-300px, 350px);
  }
}

// 晃動的甜點
@keyframes sweet {
  0% {
    transform: translate(0px, -170px) rotate(30deg);
  }
  50% {
    transform: translate(0px, -170px) rotate(-30deg);
  }
  100% {
    transform: translate(0px, -170px) rotate(30deg);
  }
}

//掉落香蕉
@keyframes banana {
  0% {
    transform: translate(0px, -450px) rotate(30deg);
  }
  100% {
    transform: translate(0px, -20px) rotate(30deg);
  }
}

// 掉落愛心
@keyframes love_fast {
  0% {
    transform: translate(70px, -450px);
  }
  100% {
    transform: translate(70px, -30px);
  }
}

@keyframes love_slow {
  0% {
    transform: translate(200px, -450px);
  }
  100% {
    transform: translate(200px, -30px);
  }
}

// 閃爍愛心
@keyframes love_bling {
  0% {
    opacity: 0;
    transform: translate(-180px, -485px);
  }
  100% {
    opacity: 1;
    transform: translate(-180px, -485px);
  }
}

// 音符
@keyframes blingStar {
  0% {
    opacity: 0;
    transform: translate(350px, -500px) rotate(25deg);
  }
  50% {
    opacity: 1;
    transform: translate(350px, -500px) rotate(-35deg);
  }
  100% {
    opacity: 0;
    transform: translate(350px, -500px) rotate(25deg);
  }
}

//樂隊
@keyframes walk {
  0% {
    transform: translate(650px, -350px);
  }
  100% {
    transform: translate(-650px, -350px);
  }
}
