
#app {
    // -webkit-font-smoothing: antialiased;
    // -moz-osx-font-smoothing: grayscale;
    text-align: center;
    position: relative;
    height: 500vh;
    //這裡是系統內建的
  }
  
  
  main {
    h1{
      font-size: $big;
    }
    margin: 10% 0;
    .demo-carousel{
      width: 400px;
      height: 20rem;
    }
          //測試用,這裡的內容都可以刪除

  }

  .testbth{
    display: flex;
    justify-content: space-evenly;  
    flex-wrap: wrap;
    
    margin: 0 auto;
    width: 100%;
  }

  .end #angle-right{
    background-color: transparent;
    font-size: $medium;
      //測試用,這裡的內容都可以刪除
  }

