.mysonglist {
  @include layout(1400px);
  padding-top: 90px;
  li {
    list-style: none;
  }
  .hd {
    h1 {
      font-size: $big;
      color: $white;
      text-align: left;
      line-height: 6;
    }
  }

  .tabs {
    padding: 10px;
    display: flex;
    justify-content: space-evenly;

    .tab {
      border: none;
      background-color: $tp;
      color: $white;

      h2 {
        font-size: $small;
      }
    }
    .tab:hover {
      color: $blue;
    }
  }
  .line {
    height: 3px;
    width: 100%;
    background: linear-gradient(to right, $tp, $blue, $tp);
  }
  :root {
    --gap: 50px;
    --container-max-width: 1400px;
  }
  //內容
  .container {
    padding: 0px;
    .sl-list {
      //row
      margin: 20px 0;

      //單一歌單
      .sl-item {
        //歌單照片使用:style backgroundImage渲染
        background-size: cover;
        background-position: center top;

        // 供子元素定位
        position: relative;
        cursor: pointer;

        //設定外觀
        margin: 20px 0;
        height: 250px;
        padding: 15px;
        border-radius: 10px;
        overflow: hidden;

        //子元素字體設定
        color: $white;
        text-align: left;

        .txt {
          position: absolute;
          left: 0;
          bottom: 0;
          width: 100%;
          padding: 25px 15px 15px 15px;
          background: linear-gradient(to top, rgba(0, 0, 0, 0.6), $tp);

          //子元素排版
          display: flex;
          justify-content: space-between;

          h3 {
            font-size: $small;
            .lock {
              margin-left: 5px;
              color: $pink;
              vertical-align: text-top;
            }
          }
          span {
            margin-right: 20px;
            font-size: 12px;
          }
        }
        .moreBtn {
          position: absolute;

          //定位參考.txt
          top: 15px;
          right: 15px;

          //去除button預設樣式
          border: none;
          background-color: $tp;
          color: #ffffff;
        }
        .more {
          position: absolute;
          //定位參考.txt
          top: 40px;
          right: 5px;
        }
        .more.hidden {
          display: none;
        }
      }
    }
  }
}
