// 重推again
.profilepageedit {
  padding: 80px 0;
  box-sizing: border-box;
}
//封面
.cover-container {
  position: relative;
  .cover {
    background-color: #232323dd;
    width: 100%;
    height: 400px;
    object-fit: cover;
  }
  //封面上傳按鈕
  .coverupdate {
    width: 50px;
    height: 50px;
    position: absolute;
    right: 120px;
    bottom: 20px;
    z-index: 20;
    border-radius: 50%;
    cursor: pointer;
  }
  //美化封面上傳按鈕
  .coverupdate:after {
    content: "";
    background-image: url("@/assets/image/icon/upload.jpg");
    background-position: center center;
    background-size: cover;
    position: absolute;
    top: 0;
    left: 0;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    overflow: hidden;
    z-index: 10;
  }
  //頭貼照片
  .profile-container {
    position: absolute;
    bottom: -150px;
    left: 50%;
    transform: translateX(-50%);
    //頭貼
    .profile {
      background-color: #232323dd;
      object-fit: cover;
      object-position: top;
      @include rect(300px);
      border-radius: 50%;
      overflow: hidden;
    }
    //頭貼上傳按鈕
    .profileupdate {
      // opacity: 0;
      width: 50px;
      height: 50px;
      position: absolute;
      right: 20px;
      bottom: 20px;
      border-radius: 50%;
      cursor: pointer;
    }
    //美化封面上傳按鈕
    .profileupdate:after {
      content: "";
      background-image: url("@/assets/image/icon/upload.jpg");
      background-position: center center;
      background-size: cover;
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      overflow: hidden;
      z-index: 10;
    }
  }
}
.songpic {
  border-radius: 50%;
  margin: 20px;
}

.songpicupload {
  border-radius: 50%;
  margin: 20px;
  width: 60px;
  height: 60px;
  display: inline-block;
  align-items: left;
  justify-content: left;
}

.page-options {
  display: flex;
  justify-content: space-evenly;
}

.page-options :hover {
  color: $purple;
}

.page-option button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background-color: transparent;
  color: $white;
  font-size: $small;
  margin-top: 300px;
}

.line {
  height: 3px;
  width: 100%;
  background: linear-gradient(to right, $tp, $purple, $tp);
}
.main-wrapper {
  @include layout(1200px);
}
.page {
  padding: 130px 30px;
}
.form1 {
  text-align: left;
  align-items: left;
  justify-content: left;
  margin: auto;
  color: $green;
}
.form1 a {
  color: $white;
}

.form-group {
  padding: 10px;
  text-align: left;
}

.form-group > input,
.form-group > select,
.form-group > textarea {
  border: 0;
  border-radius: 10px;
  width: 100%;
  background-color: black;
  color: $white;
  padding: 15px 20px;
  text-align: left;
  margin: 10px;
  line-height: $fh;
}

//滾軸樣式
select::-webkit-scrollbar {
  margin: 5px;
  width: 5px;
  background-color: #252525;
  border-radius: 10px;
}
select::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #ffffff20;
}

button.active {
  color: $purple;
}

.button {
  color: $green;
  background-color: transparent;
  border: $green 1px solid;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 50px 50px;
}

.label {
  color: $white;
  font-size: $small;
  display: flex;
  justify-content: left;
  align-items: left;
  margin: 10px;
}

#location {
  color: $white;
  width: 100%;
  height: 50px;
  padding: 10px;
  margin: 10px;
}

// inpet[type=checkbex] 美化
.checkbox {
  // min-width: 200px;
  // // background-color: black;
  // box-sizing: border-box;
  // text-align: left;
  margin: 10px;
  .songclass {
    width: 100%;
    text-align: left;
    background-color: black;
    padding: 20px 20px 40px 20px;
    border-radius: 10px;
    margin: 20px 10px;
    .label {
      font-size: $default;
      margin: 20px 10px;
    }

    .opt {
      display: inline-block;
      margin: 5px 10px;
      min-width: 125px;
      color: $white;
      .checkboxLabel {
        display: inline-block;
        position: relative;
        margin-right: 10px;
        input[type="checkbox"] {
          cursor: pointer;
          vertical-align: sub;
          color: $white;
          width: 23px;
          height: 23px;
          border-radius: 50%;
          /*清除預設樣式*/
          appearance: none;
          -moz-appearance: none;
          -webkit-appearance: none;
          border: 2px solid #ffffff80;
        }

        .i {
          position: absolute;
          z-index: 10;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: 12px;
          color: $green;
          margin: 0;
          opacity: 0;
          pointer-events: none;
        }
        input[type="checkbox"]:hover,
        input[type="checkbox"]:checked {
          border: 2px solid $green;
        }
        input[type="checkbox"]:checked ~ .i {
          opacity: 1;
        }
      }
      .classname {
        line-height: 23px;
        vertical-align: top;
      }
    }
  }
}
//其他頁面
.checkboxLabel {
  display: inline-block;
  position: relative;
  width: 23px;
  height: 23px;
  // margin-right: 10px;
  padding: 0px;
  input[type="checkbox"] {
    cursor: pointer;
    vertical-align: sub;
    color: $white;
    width: 23px;
    height: 23px;
    border-radius: 50%;
    /*清除預設樣式*/
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    border: 2px solid #ffffff80;
  }

  .i {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 12px;
    color: $green;
    margin: 0;
    opacity: 0;
    pointer-events: none;
  }
  input[type="checkbox"]:hover,
  input[type="checkbox"]:checked {
    border: 2px solid $green;
  }

  input[type="checkbox"]:checked ~ .i {
    opacity: 1;
  }
}
//---------------------

#privacy {
  color: $green;
  background-color: black;
  width: 100px;
  height: 50px;
  border-radius: 10px;
  padding: 10px;
  border: none;
  margin: 10px 0px;
}

label {
  color: $white;
  padding: 8px;
}

.plus-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 100px;
}

.plus {
  border-radius: 20%;
  width: 50px;
  height: 50px;
  cursor: pointer;
  margin-right: 10px;
  vertical-align: middle;
}

p.plus {
  font-size: 25px;
  color: $white;
  padding: 20px;
  margin-bottom: 50px;
  display: inline;
  width: 250px;
  text-align: center;
}

.song-table {
  width: 100%;
  margin: auto;
  border-collapse: collapse;
}

.song-table th,
.song-table td {
  border: 1px solid #ccc;
  padding: 15px;
  text-align: left;
  margin-bottom: 20px;
  border-left: none;
  border-right: none;
  border-top: none;
  vertical-align: top;
  justify-content: space-evenly;
}

.song-table th {
  color: $white;
  text-align: left;
  height: 50%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.albumn {
  width: 200px;
  height: 200px;
}

.song-table td {
  color: $white;
  background-color: transparent;
  font-size: 14px;
  text-align: left;
  align-items: center;
}

.song-table tr:hover {
  background-color: black;
}

.top {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin: 20px 0 50px 0;
  padding: 0 18px;
  //歌曲管理
  .newsong {
    cursor: pointer;
    img {
      width: 30px;
      vertical-align: top;
      margin-right: 10px;
    }
    span {
      color: $green;
      font-size: $default;
      line-height: 30px;
    }
  }
  .search {
    border: 2px solid $white;
    border-radius: 50px;
    padding: 5px 0;
    input[type="search"] {
      height: 16px;
      width: 150px;
      background-color: $tp;
      border: none;
      color: $green;
      margin-left: 20px;
      outline: none;
      font-size: $tag;
    }
    button {
      @include btnBgNone;
      img {
        width: 15px;
        vertical-align: center;
        margin: 0 10px;
      }
    }
  }
  //專輯管理
  .newalbum {
    height: 30px;
    cursor: pointer;
    color: $green;
    font-size: $default;
    padding: 5px 0;
    .i {
      width: 30px;
      vertical-align: top;
      margin-right: 10px;
      color: $green;
    }
    span {
      line-height: $default;
    }
  }
}

//歌曲管理table
.song-table {
  // tr {
  //   max-height: 162px;
  //   overflow: hidden;
  // }
  line-height: 1.4;
  .timg {
    width: 10%;
    img {
      @include rect(100px);
      object-fit: cover;
      overflow: hidden;
      margin: auto;
    }
  }
  .tname {
    width: 15%;
  }
  .tintro {
    width: 35%;
    p {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 6;
    }
  }
  .show {
    width: 10%;
    text-align: center;
  }
  .date {
    width: 10%;
    text-align: center;
  }
  .time {
    width: 5%;
    text-align: center;
  }
  .edit {
    width: 5%;
    text-align: center;
    button {
      @include btnBgNone;
    }
  }
}

//歌曲編輯 新增專輯
.editsong,
.newalbum {
  padding: 130px 0;
}

.editsong {
  #privacy {
    margin-left: 10px;
  }
}
