.ranking {
  .swiper {
    width: 100%;
    height: 100vh;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-image: url("@/assets/image/Ranking/ranking01.jpg");
      background-size: cover;
      background-repeat: no-repeat;

      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      .weekTopSongs {
        display: flex;
        .ranking {
          display: flex;
          flex-direction: row;
          li {
            display: flex;
            flex-direction: row;
            img {
              width: 50px;
              height: 50px;
              // 尚未調整CSS
            }
            .txt {
              button {
                background-color: transparent;
                width: 20px;
                height: 20px;
              }
            }
          }
        }
      }
    }
  }
}
