@import "@/assets/scss/mixin/_mixin.scss";
    
    :deep(#AddFavBtn) {
    @include music_btn_circle(30px);
      margin: 10px;
      text-align: center;
      line-height: 20px;
    }
    :deep(#AddSlBtn)  {
    @include music_btn_circle(30px);
    text-align: center;
    line-height: 20px;
    }
.ranking {
  .swiper {
    width: 100%;
    height: 100vh;
    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background-size: cover;
      background-repeat: no-repeat;
      /* Center slide text vertically */
      display: flex;
      justify-content: center;
      align-items: center;
      .weekTopSongs {
        width: 100%;
        height: 100vh;
        background-image: url("/public/image/Ranking/ranking01.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include s(){
          flex-direction: column;
        }
        .weekTopTitle{
          h1{
            color: $white;
            letter-spacing: 1px;
          }
          section{
            width: 150px;
            height: 10px;
            background-color: $blue;
            margin-top: -10px;
          }
          .scroll{
            display: flex;
            margin-top: 50px;
            animation: bounce 3s infinite;
            p{
              color: $white;
              transform: rotate(90deg);
              letter-spacing: 3px;

            }
            @keyframes bounce {
              0%, 100% {
                  transform: translateY(0);
              }
              50% {
                  transform: translateY(-20px);
              }
          }
          }
          
        }
        .weekRanking {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          ol{
            
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
           
            li{
              font-size: 36px;
              color: $pink;
              border-bottom: 1px solid $white;
              display: flex;
              
            @media screen and (min-width: 413px){
              justify-content: space-evenly;
              width: 430px;
              margin: 10px 30px 10px 0px;
            }
            @include s(){
              justify-content: center;
              width: 400px;
            }
            .image{
              position: relative;
              img {
                width: 70px;
                height: 70px;
                margin-right: 30px;
                margin-left: 30px; 
              }
              .play{
                position: absolute;
                width: 60px;
                height: 60px;
                padding: 10px;
                top: 10%;
                left: 30%;
                opacity: 0;
                .faPlay{
                 
                  font-size: 35px;
                  color: $white;
                  
                  
                }
              }
              img:hover{
                opacity: 0.6;
              }
             .play:hover{
              opacity: 1;
             }
          
            }
            
            .txt {
              min-width: 150px;
              text-align: left;
              cursor: pointer;
              @include s(){
                margin-left: 10px;
              }
              h3{
                color: $white;
                font-size: $default;
                font-weight: normal;
              }
              p{
                margin-top: 10px;
                color: #aaa;
                font-size: 12px;
                font-weight: 400;
                line-height: 15px;
              }
              
            }
            }
          @media screen and (min-width: 415px){
            width: 1000px;
            height: 500px;
          
           
            }
            }
            
          }
          @include s(){
            width: 500px;
            overflow-x: scroll;
            margin-top: -100px
          }
         
          
        }
      }
      .topAlbums{
        width: 100%;
        height: 100vh;
        background-image: url("/public/image/Ranking/ranking02.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include s(){
          flex-direction: column;
        }
        .topAlbumsTitle{
          h1{
            color: $white;
            letter-spacing: 1px;
          }
          section{
            width: 120px;
            height: 10px;
            background-color: $blue;
            margin-top: -10px;
          }
          .scroll{
            display: flex;
            margin-top: 50px;
            animation: bounce 3s infinite;
            p{
              color: $white;
              transform: rotate(90deg);
              letter-spacing: 3px;

            }
            @keyframes bounce {
              0%, 100% {
                  transform: translateY(0);
              }
              50% {
                  transform: translateY(-20px);
              }
          }
          }
        }
        .topAlbumsRanking{
          display: flex;
          flex-direction: row;
          @media screen and (min-width: 413px){
            width: 1000px;
            height: 500px;
            margin-top: 100px;
          }
          @include s(){
            width: 500px;
            overflow-x: scroll;
            margin-top: -100px
          }
          ol{
            margin: 0px 20px;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
            li{
              display: flex;
              flex-direction: row;
              border-bottom: 1px solid $white;
              padding: 5px 0px;
              margin: 10px 0px;
              font-size: 36px;
              color: $pink;
              @media screen and (min-width: 413px){
                justify-content: space-evenly;
                width: 430px;
                margin: 10px 30px 10px 0px;
              }
              @include s(){
                justify-content: center;
                width: 400px;
                margin-top: 30px 0px;
              }
              img{
                width: 70px;
                height: 70px;
                cursor: pointer;
              }
              
              .txt {
                min-width: 150px;
                text-align: left;
                cursor: pointer;
                @include s(){
                  margin-left: 10px;
                }

                h3{
                  color: $white;
                  font-size: $default;
                  font-weight: normal;
                }
                p{
                  margin-top: 10px;
                  color: #aaa;
                  font-size: 12px;
                  font-weight: 400;
                  line-height: 15px;
                }
              }
              .icon{
                cursor: pointer;
                margin-left: 30px;
                
                img{
                  width: 20px;
                  margin: 3px;
                }
                .order{
                  font-size: $superBig;
                  color: $pink;
                  font-weight: bold;
                  margin-right: 30px;
                  text-align: center;
                }
              }
            }
          }
        }
      }
      .topSongList{
        width: 100%;
        height: 100vh;
        background-image: url("/public/image/Ranking/ranking03.png");
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        @include s(){
          flex-direction: column;
        }
        .topSongListTitle{
          h1{
            color: $white;
            letter-spacing: 1px;
          }
          section{
            width: 120px;
            height: 10px;
            background-color: $blue;
            margin-top: -10px;
          }
        }
        .topSongListRanking{
          display: flex;
          flex-direction: row;
          @media screen and (min-width: 413px){
            width: 1000px;
            height: 500px;
            margin-top: 100px;
          }
          @include s(){
            width: 500px;
            overflow-x: scroll;
            margin-top: -100px
          }
          ol{
            margin: 50px 20px 0px 20px;
            padding: 0;
            display: flex;
            flex-wrap: wrap;
            width: 100%;
            height: 100%;
          }
          li{
            font-size: 36px;
            color: $pink;
            display: flex;
            flex-direction: row;
            justify-content: space-evenly;
            margin: 10px 30px 10px 0px;
            border-bottom: 1px solid $white;
            @media screen and (min-width: 413px){
              justify-content: space-evenly;
              width: 430px;
              margin: 10px 30px 10px 0px;
            }
            @include s(){
              justify-content: center;
              width: 400px;
            }
            img{
              width: 70px;
              height: 70px;
              margin-right: 20px;
              margin-left: 30px;
              cursor: pointer;
            }
          }
          
          .txt {
            min-width: 150px;
            text-align: left;
            @include s(){
              margin-left: 10px;
            }
            h3{
              color: $white;
              font-size: $default;
              font-weight: normal;
              cursor: pointer;
            }
            p{
              margin-top: 10px;
              color: #aaa;
              font-size: 12px;
              font-weight: 400;
              line-height: 15px;
              cursor: pointer;
            }
          }
          .follow_icon{
            cursor: pointer;
            margin-left: 30px;
            
            img{
              width: 50px;
              margin: 3px;
            }
          }
        }
      }
      
    }
  }

