// 註冊頁
// .register{
//     width: 100%;
//     padding: 10%;
//     background-color: $white;
//     h1{
//         background-color: $white;
//     }
// }
.wrapper{
    @include layout(100%);
    .step{
        width: 50%;
        display: flex;
        margin: auto;
        padding: 15%;
    }
    .inner{
        width: 62.5%;
        margin: auto;
        padding: 12% 0;
        // .ivu-steps-item.ivu-steps-status-wait .ivu-steps-title {
        //     color: $white;
        // }
    
        button{
            width: 75%;
            padding: 5px 0;
            cursor: pointer;
        }
        h2{
            font-size: $medium;
            padding: 20px 0;
        }
        form{
            font-size: $small;
            width: 35%;
            background-color: $white    ;
            margin: auto;
            padding: 5% 0;
            input{
                width: 75%;
                margin: 30px 0;
                padding: 5px 0;
            }
        }
        
    }
}
    .ivu-steps-item.ivu-steps-status-wait .ivu-steps-title,

    .ivu-steps .ivu-steps-title,
    
    .ivu-steps-item.ivu-steps-status-finish .ivu-steps-title{
        color:white;
        font-size: 24px;
        background-color: transparent;
    }
    .ivu-steps .ivu-steps-head {
        background: transparent;
    }


//測試用,這裡的內容都可以刪除