// 註冊頁
// .register{
//     width: 100%;
//     padding: 10%;
//     background-color: $white;
//     h1{
//         background-color: $white;
//     }
// }
.wrapper{
    background-color: gray;
    @include layout(100%);
    .step{
        width: 50%;
        margin: auto;
    }
    .step{
        display: flex;
    }
    .inner{
        background-color: #333333;
        width: 62.5%;
        margin: auto;
        h2{
            font-size: $medium;
            padding: 20px 0;
        }
        form{
            font-size: $small;
            width: 35%;
            background-color: pink;
            margin: auto;
            
        }
        input{
            width: 75%;
            margin: 30px 0;
            padding: 5px 0;
        }
        
    }
}

//測試用,這裡的內容都可以刪除