.shopProdDetail {
    line-height: $fh;
    position: relative;
    margin-top: 85px;
    background-color: rgb(255, 255, 255);
    @include layout(100%);

    .ivu-breadcrumb {
        text-align: left;
        margin-left: 5%;
        padding: 20px 0 70px;
    }

    .inner {

        @include layout(62.5%);
        display: flex;
        flex-direction: column;
        text-align: left;

        @media screen and (max-width: 768px) {
            @include layout(100%);
        }

        .mainInf {

            display: flex;
            margin-bottom: 10%;
            align-items: center;

            .pic {
                width: 50%;
                margin-right: 7%;

                .image-wrapper {
                    position: relative;
                    padding-bottom: 65%;
                    overflow: hidden;
                    border-radius: 6px 6px 0px 0px;
                    border: 1px solid $white;

                    img {
                        position: absolute;
                        width: 100%;
                        height: 100%;
                        object-fit: cover;
                        top: 0;
                        left: 0;
                    }
                }
            }

            .txt {

                width: 50%;
                line-height: $fh;

                .title {
                    font-size: $big;
                    font-weight: 700;
                    width: 100%;
                    margin-bottom: 20px;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: $dark;
                        margin: 10px 0 30px -10px;
                    }
                }

                .prodInf {
                    font-size: $default;

                    &::after {
                        content: '';
                        display: block;
                        width: 100%;
                        height: 1px;
                        background-color: $dark;
                        margin: 30px 0 10px -10px;
                    }
                }

                .price {
                    font-size: $default;
                    color: $pink;
                    margin-bottom: 10px;
                }

                .btnArea {

                    display: flex;
                    justify-content: space-between;

                    .prodCount {
                        display: flex;
                        align-items: center;
                        margin: auto 0;

                        .prodBtn {
                            background: none;
                            border: none;
                            padding: 0 10px;
                            cursor: pointer;
                        }

                        p {
                            font-size: $default;
                        }
                    }

                    .obj_Radius {
                        margin: 10px;
                    }
                }
            }
        }

        .description {
            width: 99%;
            margin: 0 auto 100px;
            line-height: $fh;

            h3 {
                font-size: $medium;
                margin: 0 auto 20px;
                padding-bottom: 5px;
                border-bottom: 1px solid $dark;
            }

            .txt {
                font-size: $default;

                p {
                    margin: 30px 0;
                }
            }
        }

    }
}

.shopcart {
    position: fixed;
    bottom: 35px;
    right: 100px;
    @include btnBgNone;

    img {
        vertical-align: top;
        background-color: $tp;
        width: 70%;
    }
}