* {
    background-color: $white;
}

.bannerpic {
    padding-bottom: 20px;
    @include layout(100%);

    img {
        width: 100%;
    }
}

.selectArea {
    display: flex;
    justify-content: flex-end;
    padding-right: 5%;
    text-align-last: center;

    .prodQuantity {
        margin-left: 25px;
    }

    .prodSort {
        width: 160px;
    }
}

.ivu-breadcrumb {
    text-align: left;
    padding-left: 5%;
    padding-bottom: 50px;
}

.ivu-page {
    margin-bottom: 90px;
}

select {
    font-size: $default;
    color: $dark;
    border-color: $dark;
    height: 35px;
    margin-bottom: 50px;
}

.shop {
    @include layout(100%);
    margin: auto;
    display: flex;
    position: relative;

    .prodType {
        font-size: $medium;
        display: flex;
        flex-direction: column;
        margin: 0 1% 0 5%;

        h2 {
            color: $dark;
            text-align: left;
            font-weight: 700;
            margin-left: 0;
            display: block;

            &::after {
                content: '';
                display: block;
                width: 120px;
                height: 1px;
                background-color: $dark;
                margin: 10px 0 30px -10px;
            }
        }

        ul {
            text-align: left;
            margin-left: 0;
            display: block;
            padding-left: 0;
            list-style: none;

            li {
                margin-bottom: 30px;

                &:last-child {
                    margin-bottom: 0;
                }

                p {
                    font-weight: 400;
                    color: $dark;
                    cursor: pointer;

                    &::after {
                        color: $green;
                    }
                }
            }
        }
    }

    .inner {
        @include layout(1380px);
        margin: auto;

        .prod {
            display: flex;
            flex-wrap: wrap;
            justify-content: flex-start;
            gap: 4.5%;
            //margin-left: 50px;
            margin-right: 50px;

            .prodCard {
                min-width: calc(22% - 2%);
                height: 400px;
                box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
                padding: 40px 0;
                margin: 0 0 110px;

                @media screen and (max-width: 768px) {
                    min-width: 40%;
                }

                .prodPic {
                    img {
                        margin: 0 10px;
                        width: 247px;
                        height: 158.462px;
                        border-radius: 6px 6px 0px 0px;
                        border: 1px solid #333;
                        object-fit: cover;
                        vertical-align: bottom;
                    }
                }

                .prodTxt {
                    font-size: $small;
                    padding: 10px;

                    .prodName {
                        line-height: $fh;
                        padding-bottom: 10px;
                        color: $dark;
                    }

                    .prodPrice {
                        padding: 10px;
                    }

                    .prodCount {
                        padding: 10px 0 20px;
                        display: flex;
                        justify-content: center;
                        width: 50px;
                        align-content: center;
                        margin: auto;

                        .prodBtn {
                            background: none;
                            border: none;
                            padding: 0 10px;
                            cursor: pointer;

                            p {
                                vertical-align: middle;
                            }
                        }
                    }
                }
            }
        }
    }
}

.shopcart {
    position: fixed;
    bottom: 35px;
    right: 100px;
    @include btnBgNone;

    img {
        vertical-align: top;
        background-color: $tp;
        width: 70%;
    }
}

.ivu-page {
    display: block;
    height: 30px;
    line-height: 30px;
    font-size: 14px;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding-left: 8px;
    padding-right: 24px;
}