.shoporderdetail{
    background-color: $white;
    color: $dark;
    padding: 140px 0 80px;
    .warp{
        max-width: 1200px;
        width: 100%;
        margin: auto;
        .return{
            padding-bottom: 50px;
            padding-left: 10px;
            a{
                display: flex;
                align-items: center;
                color: $dark;
                .txt{
                    font-size: $small;
                    padding-left: 15px;
                }
            }
        }
        .order{
            .serial{
                display: flex;
                font-size: $medium;
                padding: 50px 0 30px;
                border-bottom: 2px solid $dark;
            }
            .course{
                display: flex;
                justify-content: center;
                .item{
                    padding: 60px 0 100px;
                    .frame{
                        width: 120px;
                        height: 120px;
                        border: 3px solid $dark;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        .pic{
                            width: 50px;
                            img{
                                width: 100%;
                            }                            
                        }
                    }
                    .txt{
                        font-size: $small;
                        padding-top: 30px;
                    }
                }
                .line{
                    width: 120px;
                    height: 60px;
                    margin-top: 60px;
                }
                .active{
                    border-bottom: 3px solid $dark;
                }

            }
            .menu{
                display: flex;
                font-size: $small;
                background-color: $dark;
                color: $white;
                padding: 20px 0;
            }
            .main{
                display: flex;
                align-items: center;
                font-size: $default;
                .product_pic{
                    padding: 40px 60px;
                }
            }
            .order_item{
                width: 18%;
            }
            .product_pic{
                width: 28%;
                
                img{
                    width: 100%;
                }                    
            }
            .content{
                display: flex;
                justify-content: space-around;
                font-size: $default;
                box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
                border-radius: 10px;
                padding: 40px 0;
                margin: 50px 0;
                .list{
                    text-align: left;
                    .item{
                        padding: 20px 0;
                    }
                    .totalprice{
                        color: $pink;
                        font-size: $small;
                    }
                }
            }
        }
        


    }
}