.shoporders{
    background-color: #fff;
    padding: 180px 0 100px;
    .orders_change{
        font-size: $medium;
        display: flex;
        justify-content: center;        
        padding: 0 50px 60px;
        color: $dark;
        .recent, .history{
            cursor: pointer;
        }
        .change{
            margin: 0 100px;
            width: 40px;
            img{
                width: 100%;
            }
        }
    }
    .active{
        color: $pink;
    }

    .orders{
        .order{
            margin: auto; 
            max-width: 1300px;
            padding: 40px;
            .menu{
                display: flex;
                justify-content: center;
                padding: 20px 0;
                background-color: $dark;
                color: $white;
                font-size: $small;       
            }
            .main{
                background: linear-gradient(to right, $white, $white, #e7e7ff);
                background-size: 200%;
                transition: background-position .5s,right 0.3s; 
                a{
                    display: flex;
                    justify-content: center;
                    padding: 30px 0;
                    color: $dark;
                    font-size: $default;
                    border-bottom: 3px solid $dark;
                    .arrow{
                        color: $dark;
                        padding-left: 15px;
                    }
                }
            }

            .order_item{
                width: 18%;
                text-align: center;
                transition: all .3s;
            }
            .order_item:hover{
                color: #55a899;
            }
            .serial, .date{
                width: 23%;
            }             
            .main:hover{
                background-position: 100% 0;
            }
        }
    }
}