.singleMusic h1,
.singleMusic h2,
.singleMusic h3,
.singleMusic p {
    color: $white;
    letter-spacing: 1px;
    line-height: $fh;
}

.singleMusic .banner {
    @include layout(100%);
    position: relative;

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(33, 33, 33, 0.7);
        pointer-events: none;
    }

    .backPic {
        margin-top: 85px;
        width: 100%;
        height: 400px;
        object-fit: cover;
        vertical-align: top
    }
}

.inner {
    @include layout(1200px);

    .topInf {
        position: relative;
        margin-top: -310px;
        display: flex;
        justify-content: space-between;
        align-content: center;
        align-items: center;

        @media screen and (max-width: 768px) {
            margin-top: -220px;
        }

        .singlePic {
            width: 350px;
            height: 350px;

            img {
                width: 100%;
                border: 1px solid #333;
                box-shadow: 4px 4px 4px 0px rgba(255, 255, 255, 0.25);
            }

            @media screen and (max-width: 768px) {
                display: none;
            }
        }
    }

    .singleInf {
        text-align: left;
        width: 60%;
        margin-left: 5%;

        @media screen and (max-width: 768px) {
            width: 100%;
            margin: 0 5%;
        }

        .song {
            margin-bottom: 70px;

            .songName {
                font-size: $big;
                margin-bottom: 5px;
                letter-spacing: 1px;
            }

            .singer {
                font-size: $small;
            }
        }

        .iconBar {
            display: flex;
            justify-content: space-between;

            .countArea {
                display: flex;

                .timeline {
                    margin-right: 30px;
                }

                .played {
                    margin-right: 30px;
                }

                .liked {
                    margin-right: 30px;
                }

                .shared {
                    margin-right: 10px;
                }
            }

            .buttonArea {
                display: flex;
                align-items: flex-end;

                #ShareBtn,
                #AddSlBtn,
                #AddFavBtn,
                #PlayBtnBig {
                    margin: 0 10px;
                }
            }
        }
    }
}

.mainInf {
    display: flex;
    justify-content: space-between;
    width: 100%;

    @media screen and (max-width: 768px) {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .singerInf {
        height: fit-content;
        flex: 0.9;
        text-align: left;

        .singer {
            display: flex;
            align-items: center;
            display: flex;
            margin-top: 100px;
            padding-bottom: 30px;
            border-bottom: #FFF 1px solid;

            @media screen and (max-width: 768px) {
                width: 70%;
                margin: 10% auto 5%;
            }

            .singerPic {
                width: 70px;
                border: 1px solid #FFF;
                border-radius: 50%;

                img {
                    width: 100%;
                    vertical-align: top;
                }
            }

            .singerName {
                flex: 1;
                margin-left: 20px;
                font-size: $small;
                cursor: pointer;
            }
        }

        .album {
            display: flex;
            align-items: center;
            display: flex;
            margin-top: 50px;
            padding-bottom: 30px;
            border-bottom: #FFF 1px solid;

            @media screen and (max-width: 768px) {
                width: 70%;
                margin: 0 auto 5%;
            }

            .albumPic {
                width: 69px;
                border: 1px solid #FFF;

                img {
                    width: 100%;
                    vertical-align: top;
                }
            }

            p {
                margin-left: 20px;
                font-size: $small;
            }

            .albumName {
                flex: 1;
                margin-left: 20px;
                font-size: $small;
                cursor: pointer;
            }
        }

        .date {
            p {
                font-size: $tag;
                display: inline-block;
                padding: 50px 20px 20px 0;
            }

            @media screen and (max-width: 768px) {
                width: 70%;
                margin: 0 auto;
            }
        }

        .albumInf {
            font-size: $default;

            @media screen and (max-width: 768px) {
                width: 70%;
                margin: 0 auto 10%;
            }
        }
    }

    .detail {
        flex: 2.1;

        .songInf {
            @include layout(70%);
            text-align: left;
            margin-bottom: 100px;

            h3 {
                font-size: $medium;
                margin-bottom: 20px;
            }

            .aboutSong {
                font-size: $default;
                margin-bottom: 20px;

            }

            .songCat {
                display: flex;

                .categorize {
                    padding: 0 10px 0px 0;
                    line-height: $default/1.5;
                    color: $white;
                }
            }
        }

        .messageBoard {
            @include layout(70%);
            margin-bottom: 100px;
            background-color: #000;

            .board {
                @include layout(85%);
                padding: 50px 0;

                h3 {
                    font-size: $big;
                    color: $green;
                    text-align: left;
                    font-weight: 700;
                }

                .sendArea {
                    position: relative;
                    margin: 30px 0;
                    border: 3px solid #74EBD5;

                    input {
                        width: 100%;
                        height: 50px;
                        outline: none;
                    }

                    .send {
                        @include btnBgNone;
                        position: absolute;
                        right: 25px;
                        top: 10px;
                    }
                }

                .message {
                    border: 3px solid #74EBD5;
                    margin-bottom: 30px;

                    .infBar {
                        display: flex;
                        align-items: center;
                        justify-content: space-between;

                        .user {
                            display: flex;
                            align-items: center;
                            gap: 15px;
                            margin: 20px;

                            .pic {
                                width: 60px;

                                img {
                                    width: 100%;
                                    vertical-align: top;
                                }
                            }

                            .userName {
                                font-size: $default;
                            }
                        }

                        .date {
                            font-size: $tag;
                            position: relative;
                            display: flex;
                            align-items: center;
                            margin-right: 4%;

                            .more-group {

                                &:focus,
                                &:focus-within {
                                    .report-btn {
                                        opacity: 1;
                                        pointer-events: auto;
                                    }
                                }
                            }

                            .more {
                                @include btnBgNone;
                            }

                            .report-btn {
                                opacity: 0;
                                pointer-events: none;
                            }

                            #ReportBtn {
                                top: 10px;
                                right: -25px;
                                position: absolute;
                            }
                        }
                    }

                    .txt {
                        @include layout(80%);
                        text-align: left;
                    }

                    .likeMes {
                        justify-content: flex-end;
                        align-items: center;
                        gap: 10px;
                        display: flex;
                        margin: 20px;

                        .likeCount {
                            font-size: $tag;
                        }

                        .btn_likeMes {
                            @include music_btn_circle(35px);
                            background-color: $tp;
                            border: 1px solid $white;
                        }
                    }

                }

                .readMore {
                    @include btnBgNone;
                    color: $white;
                    //justify-content: flex-end;
                    align-items: center;
                    gap: 10px;
                    // display: flex;
                    margin: 25px 0 0px;
                    margin-left: 0;
                }

            }
        }

        .otherSong {
            @include layout(70%);
            position: relative;
            margin-bottom: 100px;

            h3 {
                font-size: $medium;
                text-align: left;
                margin-bottom: 40px;
            }

            .song {
                display: flex;
                align-items: center;
                background-color: rgba($green, 0.6);
                justify-content: space-between;
                margin-bottom: 40px;
                &:hover{
                    background-color: rgba($green, 0.5);
                }

                .list {
                    display: flex;
                    align-items: center;

                    .number {
                        color: $pink;
                        font-size: 36px;
                        font-weight: 700;
                        padding: 0 10px;
                    }

                    .songPic {
                        @include rect(45px);
                        position: relative;

                        img {
                            @include rect(100%);
                        }

                        .play {
                            opacity: 0;
                            position: absolute;
                            top: 0;
                            left: 0;
                            width: 100%;
                            height: 100%;
                            background-color: #00000030;
                            cursor: pointer;

                            .i {
                                font-size: 20px;
                                position: relative;
                                transform: translate(5%, 60%);
                            }
                        }

                        &:hover,
                        &:focus {
                            .play {
                                opacity: 1;
                            }
                        }

                    }

                    .songName {
                        z-index: 2;
                        color: $dark;
                        font-size: $default;
                        padding-left: 20px;
                    }
                }

                #ShareBtn,
                #AddSlBtn,
                #AddFavBtn {
                    // width: 25px;
                    // height: 25px;
                    margin: 10px;
                    // border: 1px $dark solid;
                }
            }

            .readMore {
                @include btnBgNone;
                color: $white;
                justify-content: flex-end;
                align-items: center;
                gap: 10px;
                display: flex;
                //margin: 0px 0 50px;
                margin: auto;
            }
        }
    }
}